.form {
  display: flex;
  margin-top: 100px;
  margin-bottom: 70px;
  max-width: 180px ;
  margin-right: auto;
  margin-left: auto;
}
.input {
}
.botn {
  margin-left: 20px;
}
.box {
  width: 100px;
  border: 2px solid #0000ff;
  margin-right:20px ;
}
.fiz {
  background-color: aqua;
}
.box-big {
 display: flex;
 align-items: center;
 justify-content: center;
}
.buzz {
  background-color: aqua;

}
.FizzBuzz {
  background-color: aqua;

}


.non{
 
  margin-top: 20px;
  background-color: aqua;
text-align: center;
width: 150px;
 
margin-right: auto;
margin-left: auto;
}

 